:root {
  --color-black: #1c2530;
  --color-red: #f53d5c;
  --color-green: #22c33d;
  --color-grey: #f7f7f7;
  --color-dark-grey: #c4cad4;
  --color-pink: #ff99e9;
  --color-blue: #66b8ff;
  --color-yellow: #ffd466;
  --color-dark-green: #53c666;
  --color-light-red: #f76e85;
}
